{% extends "layout.html" %}

{% block title %}
    Overview
{% endblock %}

{% block main %}
<script>
  function redirect() {
    var select_val = document.getElementById("selected_class").value;
    // check if nothing selected
    if (! String(select_val).includes("/-1")) {
      window.location.href = select_val;
    }
  }
</script>

<div class="container">
  <div class="row justify-content-center">
    <div class="col">
      <div class="d-flex justify-content-between">
        <div>  
          <select class="form-select form-control" aria-labelledby="classDropdown" style="float: left;" id="selected_class">
            {% if not selected_class %}
              <option selected disabled="true" value="-1"> Select class</option>
              {% for class in classes %}
                <option value="{{ url_for('student_classes_view', class_id=class[0]) }}">{{ class[1] }}</option>
              {% endfor %}
            {% else %}
              {% for class in classes %}
                <option disabled="true" value="-1"> Select class</option>
                {% if class[0]|string == selected_class[]|string %}
                  <option selected disabled value="{{ url_for('student_classes_view', class_id=class[0]) }}">{{ class[1] }}</option>
                {% else %}
                  <option value="{{ url_for('student_classes_view', class_id=class[0]) }}">{{ class[1] }}</option>
                {% endif %}
              {% endfor %}
            {% endif %}
          </select>
        </div>
        <button onclick="redirect()" type="submit" class="btn btn-primary ml-3" style="float: right;" >Go</button>
      </div>
    </div>
  </div>
</div>


{% if selected_class %}
<script>
function populate_cal_div(date) {
  date = String(date).trim();
  var output = document.getElementById("calendar_extra_info");
  var box = document.getElementById(date);
  var output_header = document.getElementById("calendar_extra_info_header");


  if (output.textContent.trim() === date) {
    output.textContent = "";
    output_header.textContent = "";
  }
  else {
    for (let index in schedules) {
      if (schedules[index][2] == date) {
        date = date.split(",");
        output_header.textContent = date[0] + " " + date[1] + ", " + date[2];

        output.textContent = schedules[index][4] != null ? schedules[index][4] : "No notes for this day";
        return;
      }
    }
  }
}
var schedules = {
{% if class_schedule|length > 0 %}
  {% for class in class_schedule %}
    {{class[0]}} : [{% for element in class[1:] %} {{element|tojson}}{% if not loop.last %}, {% endif %} 
    {% endfor %}
      ]{% if not loop.last %},{% endif %}
  {% endfor %}
{% endif %}};
</script>
{% set rendered_days = class_schedule | map(attribute=3) | map(attribute=1) | map('string') | list %}
</br>

<div class="container mt-5" style="text-align: left;">
  <div class="card">
      <div class="card-body" style="text_align: left;">
          <h5 class="card-title">Class Schedule</h5>
          <p class="card-text">{{ selected_class[1] }}</p>
          <p class="card-text">Teacher: {{ selected_class[-2]  }}</p>
          <p class="card-text">Class Type: {{ selected_class[2] }}</p>
          <p class="card-text">Link: Monday {{ selected_class[-1] }}</p>
      </div>
  </div>
  s</br>
  <div id="calendar_info">
    <h5 class="card-title" id="calendar_extra_info_header"></h5>
    <p id="calendar_extra_info" class="card-text"></p>
  </div>
                
<!-- Calendar Format: div for averthing.  -->  
  <!-- Create Calendar -->
  <div id="calendar" class="calendar shadow-sm p-1">
    <!-- Row 1: Month on left, today, back, and next on right -->
    <div id="row1" class="cal_row inline_row">
      <div id="left_portion" class="cal_row">
        <h1>{{month_year[0]}}, {{month_year[1]}}</h1>
      </div>
      <div id="right_portion" >
        <button class="cal_button today_button">
          &#60;
        </button>
        <button class="cal_button today_button">
          Today
        </button>
        <button class="cal_button today_button">
          &#62;
        </button>
      </div>
    </div>
    <!-- Row 2: calendar rows range from 4-6 per month, read from python 2-d array of the month -->
    <div id="row2">
      <table class="date_container">
        <thead>
          <tr class="cal_row">
            <th class="cal_cell">Sun</th>
            <th class="cal_cell">Mon</th>
            <th class="cal_cell">Tue</th>
            <th class="cal_cell">Wed</th>
            <th class="cal_cell">Thu</th>
            <th class="cal_cell">Fri</th>
            <th class="cal_cell">Sat</th>
          </tr>
        </thead>
        <tbody>
          <!-- make a row for every week-->
          {% for week in month_list %}             
            <tr class="cal_row">
              {% for day in week %}
                {% if day == 0 %}
                <td  class="cal_cell">
                  <span class="day" id="{{day}}">&nbsp;
                  </span>
                </td>
                {% else %}
                <td class="cal_cell">

                  <div class="cell_row">
                    <div class="cell_column" style="background-color:#ffffff;">
                      <p style="text-align: right;" >  {{ day }}</p>
                    </div>
                  </div>

                  {% if day|string in rendered_days %}  
                  <div class="cell_row">
                    <div>              
                        <p class="event" id="{{day}}_hours"></p>
                    </div>
                  </div>
                  <div class="cell_row">
                      <div style="background-color:#ffffff;text-align: center;" id="{{day}}_notes">                                
                          <a onclick="populate_cal_div('{{month_year[0]}},{{day}},{{month_year[1]}}')">View Notes</a>
                      </div>
                  </div>
                  <script>
                    const hour_manager = document.getElementById("{{day}}_hours");
                    const detail_manager = document.getElementById("{{day}}_notes");
                    for (let index in schedules) {
                      if (schedules[index][2] == '{{month_year[0]}},{{day}},{{month_year[1]}}') {
                        if (schedules[index][4] == null) {
                          hour_manager.textContent = "\u00A0";
                          hour_manager.classList.remove("event");
                          detail_manager.innerHTML= '';
                          const blank_element = detail_manager.creatElement('p');
                          blank_element.textContent = "\u00A0";
                          detail_manager.appendChild(blank_element);
                        }
                        break;
                      }
                    }
                  </script>
                  {% else %}
                  <div class="cell_row">
                      <div style="background-color:#ffffff;text-align: center;">                                
                          <p>&nbsp</p>
                      </div>
                  </div>
                  <div class="cell_row">
                      <div style="background-color:#ffffff;text-align: center;">                                
                          <p>&nbsp</p>
                      </div>
                  </div>
                  {% endif %}
                </td>
                {% endif %}
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal fade" id="calendarModal" tabindex="-1" role="dialog" aria-labelledby="calendarModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="calendarModalLabel">Calendar</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
          </div>
          <div class="modal-footer">
              <div id="notes" style="text-align: left;display: flex;flex-direction: row;flex-wrap: wrap;align-content: center;align-items: flex-end;">
                
              </div>

              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
      </div>
  </div>
</div>
{% endif %}
{% endblock %}